.activ {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
}

.stages {
    text-align: center;
}

#navbar {
    line-height: 25px !important;
}

.form {
    font-size: 2em;
    font-weight: bold;
}
.red-formation {
    color: red;
}
