.activ {
  font-family: "Titillium Web", sans-serif;
  font-size: 3em;
}

.stages {
  text-align: center;
}

#navbar {
  line-height: 25px !important;
}

.form {
  font-size: 2em;
  font-weight: bold;
}
.red-formation {
  color: red;
}

.img-forma {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}
@media screen and (max-width: 640px) {
  .img-forma {
    height: auto;
  }
}
