
.photo img {
    margin-top: 55px;
}
    /*======================================================
                     Article 1
    ======================================================*/
.article1 {
    margin-top: 290px;
}

.article1 h1 {
    font-family: 'Gruppo', cursive;

}
/*======================================================
                     Bouton
    ======================================================*/

.rouge {
    background-color: #ff4d4d !important;
}