.instal {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
}

.uk-margin-remove {
  font-family: "Times New Romans";
  font-size: 20px;
}
/* Badges club */
.jeunesse {
  width: 119px;
  height: 148px;
}
.b-cheval {
  width: 320px;
  height: 168px;
}

.uk-icon {
  background-color: #233872 !important;
}

.uk-card-small.uk-card-body {
  padding: 70px 20px !important;
}
